/milk2/build/
/milk2/dist/
/milk2/nbproject/private/
/transform/nbproject/private/
/beads/build/
/beads/nbproject/private/
/friday/build/
/friday/nbproject/private/
/gift1/nbproject/private/
/transform/build/
/namenum/nbproject/private/
/namenum/build/
/namenum/dist/
/Palsquare/nbproject/private/
/Palsquare/build/
/dualpal/nbproject/private/
/dualpal/build/
/milk/nbproject/private/
/milk/build/
/Competition Problems/Odometer/nbproject/private/