/milk2/build/
/milk2/dist/
/milk2/nbproject/private/
/transform/nbproject/private/
/beads/build/
/beads/nbproject/private/
/friday/build/
/friday/nbproject/private/
/gift1/nbproject/private/
/transform/build/
/namenum/nbproject/private/
/namenum/build/
/namenum/dist/
/Palsquare/nbproject/private/
/Palsquare/build/
/dualpal/nbproject/private/
/dualpal/build/
/milk/nbproject/private/
/milk/build/
/Competition Problems/Odometer/nbproject/private/
/Competition Problems/Marathon/nbproject/private/
/Competition Problems/Marathon/build/
/Wyrmhole/nbproject/private/
/Wyrmhole/build/
/Wyrmhole/dist/
/combo/nbproject/private/
/combo/build/
/Competition Problems/CowRoute/nbproject/private/
/Competition Problems/CowRoute/build/
/Competition Problems/MeetingTime/nbproject/private/
/Competition Problems/MeetingTime/build/
/Competition Problems/Base/nbproject/private/
/Competition Problems/CowRoute/dist/
/Competition Problems/Base/build/